#Exp,
#Edu {
  .timeline ul {
    padding: 0;
  }

  .timeline ul li {
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding: $dim-2 0;
    background: $clr-bg;
  }

  .timeline ul li::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 48px;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border: 5px solid $clr-bg;
    background-color: $clr-text;
    @include border-radius(50%);
  }

  .timeline ul li div {
    position: relative;
    bottom: 0;
    width: 330px;
    padding: 15px;
    border: 2px solid $clr-text;
    @include border-radius(7%);
  }

  .timeline ul li div::before {
    content: "";
    position: absolute;
    bottom: 30px;
    width: 0;
    height: 0;
    border-style: solid;
  }

  .timeline ul li:nth-child(odd) div {
    left: 45px;
  }

  .timeline ul li:nth-child(odd) div::before {
    left: -20px;
    border-width: 12px 20px 12px 0;
    border-color: transparent $clr-text transparent transparent;
  }

  .timeline ul li:nth-child(even) div {
    left: -369px;
  }

  .timeline ul li:nth-child(even) div::before {
    right: -20px;
    border-width: 12px 0 12px 20px;
    border-color: transparent transparent transparent $clr-text;
  }

  time {
    display: block;
    font-family: $ff-highlight;
    font-size: $fs-1 * 1.5;
    font-weight: bold;
    margin-bottom: $dim-1;
  }

  // EFFECTS
  .timeline ul li::after {
    transition: background-color 0.5s ease-in-out;
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
  }

  .timeline ul li.in-view::after {
    background-color: $clr-text;
  }

  .timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

  .timeline ul li:nth-child(odd) div {
    @extend.transition;
    transform: translate3d(50px, 0, 0);
    -webkit-transform: translate3d(50px, 0, 0);
    -moz-transform: translate3d(50px, 0, 0);
    -ms-transform: translate3d(50px, 0, 0);
    -o-transform: translate3d(50px, 0, 0);
}

  .timeline ul li:nth-child(even) div {
    @extend.transition;
    transform: translate3d(-100px, 0, 0);
    -webkit-transform: translate3d(-100px, 0, 0);
    -moz-transform: translate3d(-100px, 0, 0);
    -ms-transform: translate3d(-100px, 0, 0);
    -o-transform: translate3d(-100px, 0, 0);
  }

  .timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
  }

  // Media Query
  @media screen and (min-width: 1270px) {
    .timeline ul li div {
      width: 330px !important;
    }
    .timeline ul li:nth-child(even) div {
      left: -369px !important;
    }
  }
  @include respon($xl) {
    .timeline ul li div {
      width: 290px;
    }
    .timeline ul li:nth-child(even) div {
      left: -330px;
    }
  }
  @include respon($lg) {
    .timeline ul li div {
      width: 290px;
    }
    .timeline ul li:nth-child(even) div {
      left: -330px;
    }
  }
  @include respon(1024px) {
    .timeline ul li div {
      width: 240px;
    }
    .timeline ul li:nth-child(even) div {
      left: -277px;
    }
    time {
      font-size: 30px;
    }
  }
  @include respon($md) {
    .timeline ul li div {
      width: 270px;
    }
    .timeline ul li:nth-child(even) div {
      left: -310px;
    }
  }
  @include respon(630px) {
    .timeline ul li {
      margin-left: 20px;
    }
    .timeline ul li div {
      width: calc(100vw - 91px);
    }
    .timeline ul li:nth-child(odd) div {
      transform: none;
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
    }
    .timeline ul li:nth-child(even) div {
      left: 45px;
    }
    .timeline ul li:nth-child(even) div::before {
      left: -20px;
      border-width: 12px 20px 12px 0;
      border-color: transparent $clr-text transparent transparent;
    }
  }
}