header, section, footer, aside, nav, main, article, figure {
    display: block; 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-weight: normal;
    font-family: 'Changa', sans-serif;
    color: $clr-text;
    font-size: 20px;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Iceberg', cursive;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
}
ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
    letter-spacing: 1.5px;
}
p{
    line-height: 1.8;
    letter-spacing: 1.8px;
}
textarea:focus, input:focus{
    outline: none;
}