.transition{
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.bgimg_properties{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}