$clr-bg: #97805b;
$clr-text: #4b3621;
$clr-main: #462917;
$clr-secon: #c0d2ab;

$fs-1: 24px;

$ff-highlight: 'Marck Script', cursive;

$dim-1: 10px;
$dim-2: 20px;
$dim-3: 30px;
$dim-4: 40px;
$dim-5: 50px;

//var for timeline
$date: 120px;
$date: 120px;
$dotborder: 4px;
$dot: 20px;
$line: 4px;

//breakpoint
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
//xs(max-width=$sm-1) or number+px;